//use
@use "./sass/contact";
@use "./sass/filtre";
@use "./sass/footer";
@use "./sass/form";
@use "./sass/gallery";
@use "./sass/global";
@use "./sass/h2";
@use "./sass/header";
@use "./sass/introduction";
@use "./sass/nav";
@use "./sass/sections";

body {
	line-height: 1;
    max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}